<h1> LeBonAppart ! </h1>


<a href={{url}} >Deposer une annonce</a>
</br>
<a href={{urlRech}} >Recherche</a>  

<h3> Nos 3 dernières annonces : </h3> 

<ul>        

    {% for annonce in annonces %}
        <li>

        {{ annonce.description }}
        {% for image in annonce.image %}
        	<img style="max-width:250px;" src={{image.url}}>
 		{% endfor %}
        <ul>
        <li>Superficie : {{annonce.superficie}}</li>
        <li>Nombre de pièces : {{annonce.nb_piece}}</li>
        {# <li>Type de bien : {{annonce.type}}</li> #}
        {# <li>Quartier : {{annonce.quartier}}</li>
        <li>Ville : {{annonce.quartier.ville}}</li>
        <li>Type de contrat : {{annonce.loc_vente}}</li>
        <li>Prix : {{annonce.prix}} €</li> #}
        {# <li>Vendeur : {{annonce.vendeur}}</li> #}
        </ul>
        </li>
    {% endfor %}
</ul>