<h1> LeBonAppart ! </h1>

{% for annonce in annonce %}
<h3> Annonce </h3>

<li>
    <a href={{annonce.id_annonce}}>{{ annonce.description }}</a>
    {% for image in annonce.image %}
        <img style="max-width:250px;" src={{image.url}}>
    {% endfor %}
    <ul>
        <li>Superficie : {{annonce.superficie}} m²</li>
        <li>Nombre de pièces : {{annonce.nb_piece}}</li>
        <li>Type de bien : {{annonce.type.nom}}</li>
        <li>Quartier : {{annonce.quartier.nom}}</li>
        <li>Ville : {{annonce.quartier.ville.nom}}</li>
        <li>Type de contrat : {{annonce.loc_vente}}</li>
        <li>Prix : {{annonce.prix}} €</li>
        <li>Vendeur : {{annonce.vendeur.name}}</li>
    </ul>
</li>
<form action="modification/{{annonce.id_annonce}}" method="post">
    <input type="submit" name="modif" value="Modifier votre annonce">
</form>
<form action="suppression/{{annonce.id_annonce}}" method="post">
    <input type="submit" name="supress" value="Supprimer votre annonce">
</form>
{% endfor %}
</br>