<script language="javascript" type="text/javascript">
<!--
  function chemin(){

  }

  function actualiser(){
  		var ville = document.getElementById('VilleActu');
      var quartier = document.getElementById('QuartierActu');
      
	}
//-->
</script>
<h1> LeBonAppart ! </h1>


<h3> Deposer une annonce. </h3>
</br>

<form action="{{res}}" method="post">

  Description :
  <textarea cols="50" rows="3" name="description"></textarea><br/>
  <select name="loc_vente">
    <option value="vente">vente</option>
    <option value="location">location</option>
  </select></br>
  Superficie : <input type="number" name="superficie"><br/>
  <input type="checkbox" name="type_habitation[]" value="Maison">&nbsp;Maison<br/>
  <input type="checkbox" name="type_habitation[]" value="Appartement">&nbsp;Appartement<br/>



  Tarif : <input type="number" name="tarif"><br/>
  Nombre de pièce : <input type="text" name="nb_piece"><br/>

  <select name="Ville" id="VilleActu"
  onchange="actualiser()">
    {% for ville in villes %}
      <option value={{ville.nom}}>{{ville.nom}}</option>
    {% endfor %}
  </select>

   <select name="Quartier" id="QuartierActu" onchange="actualiser()">
  {% for quart in quartiers %}
    <option value={{quart.nom}}>{{quart.nom}}</option>
  {% endfor %}
  </select>

  <select name="Type">
  {% for type in types %}
    <option value={{type.nom}}>{{type.nom}}</option>
  {% endfor %}
  </select>

  <br/>
  <input type="submit" name="lanceDepot" value="Deposer votre annonce">
</form>
