

<h1> LeBonAppart ! </h1>


<h3> Deposer une annonce. </h3>
</br>

<form action="{{action}}" method="post">

  Description :
  <textarea cols="50" rows="3" name="description" required></textarea><br/>
  Type de contrat :
  <select name="loc_vente" required>
    <option value="vente">vente</option>
    <option value="location">location</option>
  </select></br>
  Superficie : <input type="number" name="superficie"><br/>



  Prix : <input type="number" step="0.01" name="prix" required><br/>
  Nombre de pièce : <input type="text" name="nb_piece" required><br/>

  <select name="ville" id="VilleActu" required>
    {% for ville in villes %}
      <option value={{ville.id_ville}}>{{ville.nom}}</option>
    {% endfor %}
  </select>

   <select name="quartier" id="QuartierActu" required> <!-- onchange="actualiser()" -->
  {% for quart in quartiers %}
    <option value={{quart.id_quartier}}>{{quart.nom}}</option>
  {% endfor %}
  </select>

  <select name="type" required>
  {% for type in types %}
    <option value={{type.id_type}}>{{type.nom}}</option>
  {% endfor %}
  </select>
  </br>
  Entrer jusqu'à 3 liens d'image :
  <input type='url' name="img-url-1">
  <input type='url' name="img-url-2">
  <input type='url' name="img-url-3">
  </br>
  Votre email :
  <input type="email" name="vendeur-email" required>
  </br>
  <hr>
  Si vous n'êtes pas encore inscrit</br>
  Votre nom :
  <input type="text" name="vendeur">
  Votre numéro de téléphone :
  <input type="number" name="vendeur-telephone">

  <br/>
  <input type="submit" name="lanceDepot" value="Deposer votre annonce">
</form>
